security:
    firewalls:
        secured_area:
           pattern:    ^/
           anonymous: ~
           form_login:
               login_path:  /login
               check_path:  /login_check

    access_control:
        - { path: ^/admin, roles: ROLE_ADMIN }

    providers:
        in_memory:
            memory:
                users:
                    admin: { password: adminpass, roles: 'ROLE_ADMIN' }

    encoders:
        Symfony\Component\Security\Core\User\User: plaintext